:root {
  --color-lightskyblue: #BED7FF; /* lightblue */
  --color-cerulean: #0277bd; /* darkblue */
  --color-dodgerblue: #5998ff; /* blue */
  --color-magenta: #FF00E1; /* pink */
  --color-green: #2d9935; /* green */
  --color-lightred: #ff3a3a; /* light red */
  --color-black: #000000; /* black */

}


/*reset default button styles */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
 }

html {
  font-size: 10px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  background: var(--color-lightskyblue);
}


.body__wrapper {
    font-size: 1.6rem;
    transition-duration: 0.5s;
}

.footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 1rem rgba(0,0,0,0.7);
  background-color: var(--color-cerulean);
  color: var(--color-lightskyblue);
}

.header {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  z-index: 1;
  box-shadow: 0 0 1rem rgba(0,0,0,0.7);
  transition-duration: 1s;
}

.header__logo {
  flex: 1 0 auto;
  padding: 1.4rem;
  font-size: 3rem;
}

.header__logo a {
  color: var(--color-lightskyblue);
  transition-duration: 0.5s;
}

.header__logo a:hover {
  color: var(--color-magenta);
  cursor: pointer;
}

.header__nav {
  flex: 1 0 auto;
}

.header__menu {
  background-color: var(--color-cerulean);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__cart {
  width: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
}

.header__cart:hover {
  background-color: var(--color-green);
  cursor: pointer;
}

.header__cart button {
  width: 100%;
  height: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  list-style-type: none;
  font-size: 1.8rem;
}

.nav__item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--color-lightskyblue);
  transition-duration: 0.5s;
}

.nav__item a:hover {
  color: var(--color-magenta);
}

.catalog {
  display: flex;
  margin: 8rem 0;
  flex-flow: row wrap;
  justify-content: space-around;
}

.catalog__item {
  width: 20rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0,0,0,0.7);
  transition-duration: 0.3s;
}

.catalog__item:hover {
  box-shadow: 0 0 8rem rgba(0,0,0,0.7);
}

.cat {
  color: var(--color-black);
  background-color: var(--color-dodgerblue);
}

.cat__photo {
  border-radius: 1rem 1rem 0 0;
  min-height: 21rem;
}

.cat__photo--noimage {
  background-image: url("images/cat.svg");
}

.cat__photo img {
  opacity: 1;
  transition: opacity 1s;
}

.cat__photo img[data-src] {
  opacity: 0;
}

.cat__name {
  width: 10rem;
  background-color: var(--color-lightskyblue);
  padding: 0.4rem;
  margin: 0 4.6rem 0 4.6rem;
  border-radius: 0.7rem 0.7rem 0 0;
  text-align: center;
}

.cat__price {
  background-color: var(--color-lightskyblue);
  position: absolute;
  border-radius: 1rem 0 1rem 0;
  padding: 0.4rem 1.5rem;
  width: 7rem;
  font-size: 2rem;
  box-shadow: 0.1rem 0.5rem 1rem -0.4rem rgba(0,0,0,0.7)
}

.cat__category {
  background-color: var(--color-lightskyblue);
  padding: 0.5rem 1.2rem;
}

.cat__category span {
  margin-left: 0.5rem;
}

.cat__purchase {
  background-color: var(--color-lightskyblue);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  margin-top: 0.1rem;
  font-size: 2rem;
  color: var(--color-green);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cat__purchase:hover {
  background-color: var(--color-green);
  color: var(--color-black);
}

.cat__purchase button {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.cat__purchase i {
  width: 100%;
  text-align: left;
  transition: transform 2s ease;
}

.cat__purchase:hover i {
  transform: translateX(45%);
}

.cart {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 20rem;
  min-height: 20rem;
  z-index: 2;
  right: 0;
  top: 7rem;
  background-color: var(--color-lightskyblue);
  box-shadow: 0 0 1rem rgba(0,0,0,0.7);
  border-radius: 0.5rem;
  overflow: hidden;
}

.cart--visible {
  display: flex;
}

.cart__header {
  background-color: var(--color-cerulean);
  padding: 1rem;
  display: flex;
}

.cart__header span {
  color: var(--color-lightskyblue);
  flex: 1 0;
  cursor: default;
}

.cart__header i {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart__header i:hover {
  color: var(--color-lightred);
}

.cart__main {
  display: flex;
  flex: 1 0;
  justify-content: center;
}

.cart__list {
  display: none;
}

.cart__list--empty {
  padding: 2rem;
}

.cart__list--empty i {
  font-size: 10rem;
  color: var(--color-cerulean);
}

.cart__footer {
  background-color: var(--color-cerulean);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
